@model IEnumerable<SistemaManejoBar.Models.DetalleRecetum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCoctelNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIngredienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCoctelNavigation.IdCoctel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIngredienteNavigation.IdIngrediente)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.IdDetalleReceta">Details</a> |
                @if (User.IsInRole("Admin"))
                {
                <a asp-action="Edit" asp-route-id="@item.IdDetalleReceta">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.IdDetalleReceta">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
